* {
    box-sizing: border-box;
  }
  
  body {
    text-align: center;
  }
  
  nav {
    font-size: 20px;
    background-color: gray;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  
  }
  
  ul {
    list-style: none;
  }
  
  img {
    width: 150px;
    height: 150px;
  }
  
  textarea {
    overflow: hidden;
  }
  
  .list-row {
    display: inline-block;
    width: 30%;
    margin: 1%;
  }

  .title-text {
    font-size: 1.2rem;
    color: black;
    display: inline-block;
    margin: 1%;
  }

  #dash-search-btn {
    margin-top: 1%;
    background: #2ecc71;
    font-size: 1.5rem;
    display: inline-block;
  }

  #dash-search-btn:hover {
    color: #2ecc71;
    background: white;
  }

  .dash-btn {
    cursor: pointer;
    font-size: 1.2rem;
    background: #2b8beb;
    border: 1px solid gray;
    text-decoration: none;
    color: white;
    padding: 0;
    margin: 1.5%;
  }
  
  .dash-img {
    max-width: 100%;
    height: auto;
    width: 200px;
    height: 200px;
  }

  .dash-price {
    display: inline-block;
    margin: 1%;
    font-size: 1.1rem;
  }

  @media (max-width: 600px) { 
    
    #dash-search-btn {
      font-size: 1rem;
    }

  }