* {
    box-sizing: border-box;
  }
  
  body {
    text-align: center;
  }
  
  .book-div {
    background: rgba(44, 62, 80, 0.9);
    border: 1px solid gray;
  }

  .div-title {
    color: white;
    font-size: 1.5rem;
  }
  .div-fields {
    color: white;
    font-style: bold !important;
    font-size: 1.2rem;
  }

  .edit-review-btn, .add-review-btn, .delete-review-btn {
    cursor: pointer;
    background: #509cce;
    text-decoration: none;
    padding: 1%;
    margin: 1.5%;
    color: white;
    font-size: 1.2rem;
    border: 1px solid black;
    display: inline-block;
  }

  .add-review-btn {
    background: #689ec2;
  }
  .delete-review-btn {
    background: #e74c3c;
  }

  .review-form {
    background: rgba(44, 62, 80, 0.9);
    border: 1px solid gray;
  }

  .review-title {
    color: white;
}

  textarea {
    width: 60%;
    height: 200px;
    border: 1px solid gray;
    padding: 2%;
  }
  img {
    width: 200px;
    height: 200px;
  }


  